body {
    font-family: sans-serif;
}

header {
    background-color: #000;
    color: #fff;
    height: 100px;
}

.logo {
    float: left;
}

nav {
    float: right;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

main {
    background-color: #fff;
    padding: 20px;
}

.main-content {
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
}

footer {
    background-color: #ccc;
    height: 50px;
}

.copyright {
    text-align: center;
}