body {
    background-color: #babecc;
}
p {
    text-align: center;
    font-size: 100px;
    font-weight: 600;
}
@media screen and (orientation: landscape) {
    body {
        background-color: orange;
    }
}
@media screen and (orientation: portrait) {
    body {
        background-color: yellow;
    }
}

@media all and (aspect-ratio: 16/9){

}
@media all and (min-aspect-ratio: 16/9){

}
@media all and (max-aspect-ratio: 16/9){
    
}
/* 화면 비율은 너비값, 높이값을 나눈것으로 계산식을 이용 할 수 있다.
    aspect-ratio : 화면비율(width 값/height 값)
    min-aspect-ratio : 최소 화면 비율
    max-aspect-ratio : 최대 화면 비율 */